@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --ff-dancing-script: 'Dancing Script', cursive;
    --ff-cookie: 'Cookie';
    --clr-white: #fff;
    --clr-blue: #203060;
    --clr-khaki: #d1ce94;
    --transition5s: all .5s linear; 
    --transition3s: all .3s linear; 
}

body {
    font-family: var(--ff-dancing-script);
}

nav{
    background: var(--clr-white);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 100;
}


.logo{
    width: 120px;
    height: 80px;
    margin: 10px;
}

nav ul{
    float: right;
    margin-right: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    font-size: 24px;   
}

nav ul li a{
    color: var(--clr-blue);
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 3px;
}

a.active, a:hover{
    border-bottom: 5px solid var(--clr-khaki);
    transition: var(--transition3s);
}


@media (max-width: 900px){
    .logo{
        width: 100px;
        height: 60px;
        margin-bottom: 5px;
        padding: 0;
    }
    nav ul li a{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    nav{
        height: 130px; 
    }

    nav ul{
        float: none;
        margin: 0px;
        line-height: 40px;
        
    }
    nav ul li{
        margin: -10px 0;
    }
    nav ul li a{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto; 
    }
}


/*----------------first section------------------*/
.below-nav{
    padding-top: 100px;
}

@media (max-width: 500px){
    .below-nav{
        padding-top: 130px;
    }
}

.home-section{
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("images/food-bg.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; 
}

@media (min-height: 1000px) {
    .home-section {
        max-height: 700px;
    }
}

h1{
    font-size: 5em;
    color: var(--clr-khaki);
    font-family: var(--ff-cookie);
}

h2 {
    font-size: 40px;
    color: var(--clr-khaki);
    letter-spacing: 3px;
}


/*********about us************/

.about-section{
    height: 500px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.team{
    width: 500px;
    height: auto;
    border: 2px solid var(--clr-white);
    border-radius: 12px;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.baked-link {
    color: var(--clr-blue);
    font-size: 40px;
}

.underline {
    width: 100px;
    height: 5px;
    background-color: var(--clr-blue);
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #2b3247;
}
.team h2{
    font-size: 48px;
    text-align: center;
    color: var(--clr-blue);
}

.team p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

/* ------------------ review section --------------- */
.review-container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.title h2 {
    font-size: 48px;
    font-family: var(--ff-dancing-script);
    color: var(--clr-blue);
}

.review {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 700px;
    padding: 30px;
    height: auto;
    box-shadow: 0.5px 0.5px 5px var(--clr-khaki);
    border-radius: 10px;
}

.img-container {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 120px;
    border-radius: 50%;
}

#person-img {
    height: 100%;
    width: 100%;
}

#name {
    color: var(--clr-blue);
    font-size: 28px;
    margin: 10px 0;
    height: 30px;
}

#job {
    color: var(--clr-khaki);
    font-size: 20px;
    letter-spacing: 1px;
    height: 25px;
}

#review-text {
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: justify;
    min-height: 120px;
    height: auto;
}

@media (max-width: 400px){
    #name {
        font-size: 20px;
        margin: 5px 0;
        height: 20px;
    }
    
    #job {
        font-size: 16px;
        margin: 5px 0;
        height: 18px;
    }

    
    #review-text {
        min-height: 150px;
        letter-spacing: 0px;
    }
}

.prev-btn,
.next-btn {
    background-color: transparent;
    border: none;
    color: var(--clr-khaki);
    font-size: 4rem;
    text-shadow: 0.5px 0.5px 3px black;
    transition: var(--transition5s);
    outline: none;
}

@media (max-width: 500px){
   .prev-btn,
    .next-btn {
        font-size: 2.5rem;
    } 
}

.prev-btn:hover,
.next-btn:hover {
    color: var(--clr-blue);  
} 

.prev-btn {
    position: absolute;
    left: 0;
    top: 50%;
}

.next-btn {
    position: absolute;
    right: 0;
    top: 50%;
}




.footer{
    height: 20px;
    font-family: 'Dancing Script';
    text-align: center;
    color: #696628;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
}