@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}



nav{
    background: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 100;
}


.logo{
    width: 120px;
    height: 80px;
    margin: 10px;
}

nav ul{
    float: right;
    margin-right: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    font-size: 24px;   
}

nav ul li a{
    color: #203060;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 3px;
}

a.active, a:hover{
    border-bottom: 5px solid #d1ce94;
    transition: .5s;
}


@media (max-width: 900px){
    .logo{
        width: 100px;
        height: 60px;
        margin-bottom: 5px;
        padding: 0;
    }
    nav ul li a{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    nav{
        height: 130px; 
    }

    nav ul{
        float: none;
        margin: 0px;
        line-height: 40px;
        
    }
    nav ul li{
        margin: -10px 0;
    }
    nav ul li a{
        font-size: 16px;
        margin-left: auto;
        margin-right: auto; 
    }
}


/*----------------first section------------------*/
.below-nav{
    padding-top: 100px;
}

@media (max-width: 500px){
    .below-nav{
        padding-top: 130px;
    }
}



.one{
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("images/food-bg.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; 
}

h1{
    font-size: 5em;
    letter-spacing: ;
    color: #d1ce94;
    font-family: 'Cookie';
}

h2 {
    font-size: 40px;
    color: #d1ce94;
    letter-spacing: 3px;
}

/*********about us************/


/***********our team****************/
.two{
    height: 700px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team{
    width: 500px;
    height: auto;
    border: 2px solid white;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.7);

}

.team h2{
    
    font-size: 48px;
    text-align: center;
    color:black;
    margin: 15px 0;
}

.team p{
    
    font-size: 20px;
    padding: 10px;
    color: black;
    text-align: center;
}





.footer{
    font-family: 'Dancing Script';
    text-align: center;
    color: #696628;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
}