@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap',sans-serif;
}
:root {
    --clr-darkblue: rgb(21, 15, 34);
    --clr-white: rgb(255, 255, 255);
    --clr-salmon: rgb(243, 111, 96);
    --clr-icons: rgb(211, 174, 174);
}

body {
    background-color: var(--clr-darkblue);
}
header {
    background-color: var(--clr-white);
}

header h1 {
    text-align: center;
    padding: 10px;
    color: var(--clr-darkblue);
    letter-spacing: 2.5px;
}

.score-board {
    margin: 40px auto;
    border: 2px solid var(--clr-white);
    width: 200px;
    border-radius: 4px;
    text-align: center;
    color: var(--clr-white);
    font-size: 38px;
    padding:  15px;
    position: relative;
}

@media (max-width: 300px) {
    .score-board {
        width: 150px;
        font-size: 30px;
    }
}

.user,
.computer {
    font-size: 14px;
    padding: 2px 10px;
    background-color: var(--clr-salmon);
    position: absolute;
}

.user {
    top: 25px;
    left: -25px;
}

.computer {
    top: 25px;
    right: -30px;
}

.result {
    margin-top: 20px;
    font-size: 30px;
    color: var(--clr-white);
    text-align: center;
}

.choices {
    margin: 50px 0 30px 0;
    text-align: center;
}

.choice {
    display: inline-block;
    font-size: 70px;
    margin: 0 20px;
    color: var(--clr-salmon);
    border: 2px solid var(--clr-white);
    padding: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

@media (max-width: 500px) {
    .choice {
        font-size: 40px;
    }
}

@media (max-width: 350px) {
    .choice {
        font-size: 30px;
        margin: 0 10px;
    }
}

.choice:hover {
    cursor: pointer;
    color: var(--clr-icons);
}

#action-msg {
    color: var(--clr-white);
    text-align: center;
    letter-spacing: 1.2px;
}

.green-glow {
    border: 2px solid #0a7235;
    box-shadow: 0 0 10px #1c693d ;
}

.red-glow {
    border: 2px solid #be0a0a;
    box-shadow: 0 0 10px #ee1b1b ;
}

.grey-glow {
    border: 2px solid #565857;
    box-shadow: 0 0 10px #858886;
}