@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Merienda+One&family=Satisfy&family=Sacramento&family=Cedarville+Cursive&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --clr-primary: rgb(145, 16, 16);
    --clr-primary-hover: rgb(223, 102, 102);
    --bkg-primary: rgb(233, 215, 193);
    --ff-merienda: 'Merienda One', cursive;
    --ff-cookie: 'Cookie', cursive;
    --ff-satisfy: 'Satisfy', cursive;
    --ff-cedarville: 'Cedarville Cursive', cursive;
    --ff-sacramento: 'Sacramento', cursive;
}

nav {
    width: 100%;
    height: 80px;
    background-color: var(--bkg-primary);
    box-shadow: 2px 0 5px rgb(172, 113, 113);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    font-family: var(--ff-cookie);
    z-index: 100;
}

.bar-icon {
    font-size: 30px;
    color: var(--clr-primary);
    margin: 0 50px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .bar-icon {
        margin: 0 30px;
    }
}

.bar-icon:hover {
    color: var(--clr-primary-hover);
}
.nav-bar {
    display: none;
    position: absolute;
    top: 80px;
    height:calc(100vh - 80px);
    background-color: var(--bkg-primary);
    justify-content: flex-start;
    width: 50%;
    padding: 0 50px;
    pointer-events: none;
}
.nav-bar.open {
    display: block;
    pointer-events: all;
}

@media (max-width: 400px) {
    .nav-bar {
        padding: 0 30px;
    }
}

nav li {
    padding: 10px 0;
}

nav li a {
    color: var(--clr-primary);
    font-size: 34px;
}

@media screen and (max-width: 550px) {
    nav li a {
        font-size: 24px;
    }
}

@media screen and (max-width: 350px) {
    nav li a {
        font-size: 16px;
    }
}

/********/

.logo {
    font-size: 40px;
    font-family: var(--ff-cedarville);
    color: var(--clr-primary);
    font-weight: 1000;
    letter-spacing: 5px;
    transition: transform 0.5s ease;
}

.logo:hover {
    color: var(--clr-primary-hover);
}

@media (max-width: 400px) {
    .logo {
        font-size: 24px;
    }
}

.cart {
    position: relative;
    margin: 0 50px;
    align-items: center;
    color: var(--clr-primary);
    font-size: 30px;
}

@media (max-width: 400px) {
    .cart {
        margin: 0 30px;
    }
}

.cart:hover .fa-shopping-cart {
    color: var(--clr-primary-hover);
}

.cart-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(240, 187, 122);
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 5px;
    font-family: sans-serif;
}

.home {
    position: relative;
    width: 100vw;
    top: 80px;
    height: calc(100vh - 80px);
    max-height: 800px;
    background-image: url('images/home-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 60vw;
    min-height: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9dfdfea;
    border-radius: 10px;
}

.banner h1 {
    color: var(--clr-primary);
    font-size: 40px;
    margin: 20px 0;
    font-family: var(--ff-sacramento);
}

.banner-btn {
    background-color: var(--bkg-primary);
    color: var(--clr-primary);
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    transition: transform .5s ease;
}

.banner-btn a{
    color: var(--clr-primary);
}

.banner-btn:hover {
    transform: scale(1.1);
}

/* ----------------- Our Products ----------------*/
.products {
    min-height: 100vh;
    padding: 40px 0;
    width: 100vw;
}

.section-title {
    height: 150px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title h2 {
    color: var(--clr-primary);
    font-family: var(--ff-cookie);
    font-size: 30px;
    border-bottom: 2px solid;
    letter-spacing: 1px;
}

.product-shop {
    display: flex;
    flex-direction: column;
}

.menu-section {
    display: flex;
    width: 90vw;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.ice-creams,
.cakes,
.brownies,
.pudding,
.parfaits {
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ice-creams {
    background-image: url(images/images\ \(17\).jpeg);
    border-radius: 10px;
}

.cakes {
    background-image: url(images/images\ \(10\).jpeg);
    border-radius: 10px;
}

.ice-creams.active,
.cakes.active,
.brownies.active,
.pudding.active,
.parfaits.active {
    border: 5px ridge var(--clr-primary);
    transform: scale(0.8);
    transition: transform .5s ease-out;
}

#menu-container {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px 30px;
    margin: 20px auto;
    border-top: 2px groove var(--clr-primary);
}

.img-container {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.img-container:hover .product-img{
    opacity: 0.6;
}

.product-img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
    margin-bottom: 5px;
}

.bag-btn {
    background-color: var(--bkg-primary);
    color: var(--clr-primary);
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-family: var(--ff-merienda);
    position: absolute;
    transition: all 0.5s ease;
    transform: translateX(101%);
    top: 70%;
    right: 0;
    cursor: pointer;
    outline: none;
    
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}
.product h3 {
    text-transform: capitalize;
    color: var(--clr-primary);
    font-family: var(--ff-cookie);
    font-size: 24px;
    margin-top: 5px;
    letter-spacing: 1.5px;
    text-align: center;
}

.product h4 {
    color: var(--clr-primary);
    font-size: 20px;
    margin-top: 5px;
    font-family: var(--ff-cookie);
    text-align: center;
    letter-spacing: 2px;
}

/* ----------------------- End of Products -------------------- */
.cart-overlay {
    position: fixed;
    top:80px;
    right: 0;
    width: 40vw;
    height: calc(100vh - 80px);
    background-color: var(--bkg-primary);
    z-index: 100;
    transition: transform 0.5s ease; 
    z-index: 2; 
    display: none; 
}

.cart-overlay.open {
    display: block;
}

.cart-overlay.close {
    display: none;
}

@media (max-width: 900px) {
    .cart-overlay {
        width: 40vw;
    }
}

@media (max-width: 750px) {
    .cart-overlay {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .cart-overlay {
        width: 100vw;
    }
}

.cart-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: inherit;
    height: inherit;
    
}

.close-cart {
    font-size: 24px;
    color: var(--clr-primary);
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 3;
}

.close-cart:hover {
    color: var(--clr-primary-hover);
}

.cart-overlay h2 {
    font-size: 30px;
    text-align: center;
    font-family: var(--ff-satisfy);
    color: var(--clr-primary);
    z-index: 3;
    margin-top: 20px;
}

.cart-content {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--ff-cookie);
    z-index: 3;
    overflow-y: scroll;
    margin-right: 10px;
}

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 15px;
    margin: 15px 0;   
}

.cart-item img {
    width: 75px;
    height: 75px;
    padding: 5px
}

.cart-item h4 {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

@media (max-width:750px) {
    .cart-item h4 {
        font-size: 16px;
    }
}

.cart-item h5 {
    margin: 3px 0;
}

.delete-item {
    font-size: 14px;
    opacity: 0.6;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--clr-primary-hover);
    cursor: pointer;
}

#plus,
#minus {
    background: transparent;
    border: none;
    outline: none;
}
.item-count {
    padding:4px;
    font-size: 16px;
    font-family: var(--ff-satisfy);
}

/* ---------------end of cart item --------- */

.cart-footer {
    margin-top: 20px;
    text-align: center;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.cart-footer h3 {
    font-size: 30px;
    font-family: var(--ff-satisfy);
    text-align: center;
    color: var(--clr-primary);
    margin-bottom: 10px;
}

.clear-cart-btn {
    background-color: var(--clr-primary);
    color: var(--bkg-primary);
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #c96767;
    cursor: pointer;
}

.clear-cart-btn:hover {
    background-color: var(--clr-primary-hover);
    color: var(--clr-primary);
}


