@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    font-size: 16px;
}

section{
    padding: 50px 0;
}

main{
    display: grid;
    min-height: 100vh;
    place-items: center;
}
h2,
h4{
    letter-spacing: 2.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 10px;
}

h2{
    font-size: 24px;

}

h4{
    font-size: 18px;
}

p{
    margin-bottom: 10px;
    color: gray;
}

.container{
    width: 80vh;
    max-width: 1100px;
}
.title{
    text-align: center;
    margin-bottom: 40px;
}

.underline{
    height: 2.5px;
    width: 60px;
    background-color: hsl(205, 78%, 60%);
    margin-left: auto;
    margin-right: auto;
}

.review{
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: all .3s linear;
    text-align: center;
}

.review:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.img-container{
    position: relative;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    overflow: hidden;
}

#person-img{
    height: 100%;
    padding: 0;
}

#author{
    margin-bottom: 5px;
}

#job{
    margin-bottom: 15px;
    text-transform: capitalize;
    color: rgb(85, 124, 238);
    font-weight: 600;
    font-size: 15px;
}

#info{
    margin-bottom: 10px;
}

.prev-btn,
.next-btn{
    color: black;
    font-size: 24px;
    border: transparent;
    background: transparent;
    margin: 0 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    outline: none;
}

.prev-btn:hover,
.next-btn:hover{
    color: hsl(210, 22%, 49%);
}

.random-btn{
    margin-top: 5px;
    background-color: hsl(205, 100%, 96%);
    padding: 2.5px 5px;
    text-transform: capitalize;
    border-radius: 5px;
    transition: all 0.3s linear;
    border-color: hsl(210, 22%, 49%);
    cursor: pointer;
    outline: none;
}

.random-btn:hover{
    background-color: hsl(210, 21%, 65%);
    color: hsl(206, 80%, 12%);
}
