body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(12, 80, 80);
    color: #333;
    font-family: 'calibri', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.container{
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgb(168, 206, 206);
    flex: 0 0 70%;
}

h2{
    font-size: 38px;
}
#quoteBtn{
    border: none;
    color: rgb(229, 236, 236);
    background: rgb(17, 112, 112);
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
}

#quoteBtn:hover{
    background-color: rgb(23, 82, 82);
    transform: scale(1.05);
}

blockquote{
    background-color: rgb(110, 172, 172);
    border-left: 10px solid rgb(57, 107, 107);
    margin: 25px;
    padding: 5px;
}

#quoteAuthor{
    color: rgb(23, 82, 82);
    font-size: 32px;
    letter-spacing: 1px;
}

#quote{
    font-size: 24px;
    text-transform: none;
    font-weight: 500; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
