*{
    padding:0;
    margin:0;
}
li,a,button{
    font-size: 24px;
    color: black;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: flex-end;
    align-items: right;
    padding:0;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    width:150px;
    height: auto;
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
    margin-top: 20px;
    height: 120px;   
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #ff8533;
}
.container {
    width: 100%;
     margin: 50px;
   }

   #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
  }
  
  #hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  #subscription {
    margin-top: 40px;
  }
  .subscribe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
  .email{
    width: 100%;
    max-width: 275px;
    padding:5px 10px;
    font-size: 16px;
    margin:10px 0;
  }
  .btn{
    justify-content: center;
    background-color: #ff8533;
    padding:5px;
    font-size: 14px;
  }
  
  .btn:hover{
    background-color: #ff6600;
  }
  
  @media (max-width: 650px) {
    #hero {
      margin-top: 120px;
    }
  }
  
  #features {
    margin-top: 20px;
  }
  .features{
    display:flex;
    flex-direction:column;
    text-align: center;
    
  }
  .fet{
    margin:25px;
    padding:15px;
    } 
    
  .topic{
    font-size:36px;
    margin:5px;
  }
  .content-text{
    font-size:24px;
  }
  
  @media (max-width: 550px) {
    #features{
      display:flex;
      flex-direction: column;
      text-align:center;
    }
  }
  
  .how {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .how > iframe {
    max-width: 560px;
    width: 100%;
  }
  .bft{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .benefits:hover{
    background-color: #A9A9A9;
  }
  .benefits{
    display:block;
    width:40%;
    height:auto;
    background-color:#e6e6e6;
    color:black;
    font-size: 24px;
    text-align:center;
    border-radius:12px;
    margin: 10px;
    padding: 20px;
  }
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 4);
    margin: 10px;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
  }
  .product-img{
    width: 150px;
    height:200px;
  }
  .product > .level {
    background-color: #e6e6e6;
    color: black;
    padding: 15px 0;
    width: 100%;
    font-weight: 700;
  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #ff8533;
    font-weight: 400;
  }
  
  .product > button:hover {
    background-color: #ff6600;
    transition: background-color 1s;
  }
  
  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  
  footer {
    margin-top: 30px;
    background-color: #e6e6e6;
    padding: 10px;
    text-align: right;
    color:	#260d0d;
    border-radius: 5px;
  }
