* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

body {
  z-index: 20;
}
header {
  position: fixed;
  background: #22242A;
  width: 100vw;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_area {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
}

.left_area span {
  color: #1dc4e7;
}

.logout_btn {
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  transition: 0.5s;
  transition-property: color;
}

.logout_btn:hover {
  color: #1dc4e7;
}

.sidebar {
  background-color: #464a53;
  margin-top: 80px;
  padding-top: 30px;
  position: fixed;
  width: 250px;
  height: calc(100vh - 80px);
  left: 0;
}

.sidebar .profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar h4 {
  color: #ccc;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background-color: #1dc4e7;
}

.sidebar i {
  padding-right: 20px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #1dc4e7;
}

#check:checked ~ .sidebar {
  left: -190px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 170px;
  width: 100px;
}

.main {
  height: calc(100vh - 80px);
  margin-left: 250px;
  background-image: url("pexels-photo-434337.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.09s;
}

#check:checked ~ .main {
  margin-left: 60px;
}

#check {
  display: none;
}