@import url('https://font.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

/* --------- Container -------- */


.header {
  height: 200px;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(121, 4, 4), rgba(139, 140, 219, 0.8));
  position: relative;
}

.clear {
  color: #420505;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.clear i:hover {
  color: #b94141;
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

#date {
  color: rgb(226, 198, 201);
  font-size: 28px;
  position: absolute;
  left:10px;
  bottom: 10px;
}

/* --------- Content ---------- */
.content {
  height: calc(100vh - 200px);
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
}

.item {
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  
}

.text {
  padding: 0 20px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
}

.fa-check-circle{
  color: #6eb200;
}
.fa-trash-alt {
  font-size: 18px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  padding: 0 10px;
}

.lineThrough {
  text-decoration: line-through;
  opacity: 0.6;
}

.add-item {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.add-item i {
  color: rgb(54, 54, 211);
  width: 25px;
}

.add-item input {
  font-size: 18px;
  outline: none;
  width: calc(100vw - 80px);
}