.slides{
    
}
.slideshow{
    display: flex;
    
    
}
.img{
    height: 600px;
    width: 1000px;
    border-radius: 5%;
    margin: 20px;

}
.prev, .next{

}

.body{
    background-color: cadetblue;
}